// Common styling
body{
    color: $white-text;
    font-size: $base-fontsize;
    font-family: $header-regular;
    background: $black-bg;
}
h1{
    font-size: 2.188em;
    font-family: $header-regular;
   
}

// navigation
#button-nav{
    position: absolute;
    top: 0 ;
    left: 0;
    width: 180px;
    height: 64px;
    z-index: 103;
    .button-section{
        height: 64px;
        width: 64px;
        background: $red-text;
        float: left;
        .lines-hamburger{
            // padding-top: 12px;
            .line{
            width: 26px;
            height: 2px;
            background: $white-text;
            margin: 8px auto; 
            }
            .hamburger{
                padding: 18px 10px;
                .hamburger-box{
                    .hamburger-inner{
                        background-color: $white-text;
                        border-radius: 0;
                        &::after{
                            background-color: $white-text;
                            border-radius: 0;
                        }
                        &::before{
                            background-color: $white-text;
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
    .name-section{
        width: 116px;
        height: 64px;
        float: right;
        p{
            // margin-left: 5px;
            margin: 16px 0 32px 5px;
            line-height: 1.2;
        }
    }
}

// Pop navigation
#pop-nav{
    background: rgba(39, 39, 39, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 102;
    display: none;
    .menu-list{
        width: 100%;
        max-width: 720px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        ul{
            li{
                text-align: center;
                line-height: 1.5;
                a{
                    font-size: 2.250em;
                    color : $white-text;

                }
            }
        }
    }
}
.pop-active{
    display:block;
}
// text hightlight
.text-highlight{
    color: $red-text;
}
.text-bold{
    font-family: $header-bold;
}
.text-italic{
    
    font-style: italic;    
}

// margin classes
.head-content-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
// Padding Classes
.content-padding{
    p{
    padding: 0 12%;
    }
}

.section-header{
    margin-top: 80px;
    margin-bottom: 40px;
    p{
    font-size : 1.5em;
    font-family: $header-bold;
    text-transform: uppercase;
    color: $red-text;
    }
}
.section-content{
    margin-top: 40px;
    p{
    font-size : 1.125em;
    font-family: $text-regular;
    color: $white-text;
    line-height: 1.3;
    }
}

// remove padding
.no-pad-left{
    padding-left:0;
}

// Fixed Nav styling
// Active 
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span{
    background : $red-text;
    border: 2px solid $white-text;
    height: 13px;
    width: 13px;
}
// Inactive
#fp-nav ul li a, .fp-slidesNav ul li a{
    background : $white-text;
    border: 2px solid $red-text;
    // height: 13px;
    // width: 13px;
    border-radius: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background : none;
    height: 13px;
    width: 13px;
}

