/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/text-fonts/Montserrat-Bold.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/text-fonts/Montserrat-Regular.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/text-fonts/Montserrat-Light.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/text-fonts/Lato-Bold.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/text-fonts/Lato-Regular.WOFF") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  color: #ffffff;
  font-size: 16px;
  font-family: "montserrat-regular", sans-serif;
  background: #272727; }

h1 {
  font-size: 2.188em;
  font-family: "montserrat-regular", sans-serif; }

#button-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 64px;
  z-index: 103; }
  #button-nav .button-section {
    height: 64px;
    width: 64px;
    background: #e3586b;
    float: left; }
    #button-nav .button-section .lines-hamburger .line {
      width: 26px;
      height: 2px;
      background: #ffffff;
      margin: 8px auto; }
    #button-nav .button-section .lines-hamburger .hamburger {
      padding: 18px 10px; }
      #button-nav .button-section .lines-hamburger .hamburger .hamburger-box .hamburger-inner {
        background-color: #ffffff;
        border-radius: 0; }
        #button-nav .button-section .lines-hamburger .hamburger .hamburger-box .hamburger-inner::after {
          background-color: #ffffff;
          border-radius: 0; }
        #button-nav .button-section .lines-hamburger .hamburger .hamburger-box .hamburger-inner::before {
          background-color: #ffffff;
          border-radius: 0; }
  #button-nav .name-section {
    width: 116px;
    height: 64px;
    float: right; }
    #button-nav .name-section p {
      margin: 16px 0 32px 5px;
      line-height: 1.2; }

#pop-nav {
  background: rgba(39, 39, 39, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 102;
  display: none; }
  #pop-nav .menu-list {
    width: 100%;
    max-width: 720px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; }
    #pop-nav .menu-list ul li {
      text-align: center;
      line-height: 1.5; }
      #pop-nav .menu-list ul li a {
        font-size: 2.250em;
        color: #ffffff; }

.pop-active {
  display: block; }

.text-highlight {
  color: #e3586b; }

.text-bold {
  font-family: "montserrat-bold", sans-serif; }

.text-italic {
  font-style: italic; }

.head-content-margin {
  margin-top: 20px;
  margin-bottom: 20px; }

.content-padding p {
  padding: 0 12%; }

.section-header {
  margin-top: 80px;
  margin-bottom: 40px; }
  .section-header p {
    font-size: 1.5em;
    font-family: "montserrat-bold", sans-serif;
    text-transform: uppercase;
    color: #e3586b; }

.section-content {
  margin-top: 40px; }
  .section-content p {
    font-size: 1.125em;
    font-family: "Lato-Regular", sans-serif;
    color: #ffffff;
    line-height: 1.3; }

.no-pad-left {
  padding-left: 0; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  background: #e3586b;
  border: 2px solid #ffffff;
  height: 13px;
  width: 13px; }

#fp-nav ul li a, .fp-slidesNav ul li a {
  background: #ffffff;
  border: 2px solid #e3586b;
  border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: none;
  height: 13px;
  width: 13px; }
